<div style="margin:20px;" ng-init="init()" >

	<button class="btn btn-danger btn-lg" ng-click="frontEnd()"><span class="fa fa-mail-reply"></span> 回前台</button>

	<!-- <div ng-controller = "FileIOCtrl">
		<h1 class="text-center text-danger">
	        <button class="btn btn-warning btn-lg" ng-click="backup()"><span class="fa fa-download fa-lg"></span> 匯出文字檔(backup)</button>
	    </h1>
	    <a download="ESA.txt" id="download" style="display: none"></a>

	    <hr/>

	    <h4 class="text-danger col-xs-offset-5">
	         <input type="file" onchange="readfile(this.file[0])" accept=".txt"></input>
	    </h4>  

	    <button onclick="readfile('C:\tomcat7055\webapps\fullscreen\ESA.txt')">readfile</button>

	    <h1 class="text-center text-danger">
	        <button class="btn btn-warning btn-lg" ng-click="restore()"><span class="fa fa-upload fa-lg"></span> 匯入至系統(restore)</button>
	    </h1> 

	    <pre id="output" ng-show="false"></pre>
	</div> -->
	


	<h1 style="text-align:center;"><img src="imgs/ntpclogo.png">後台－跑馬燈管理</h1>
	<button class="btn btn-success btn-lg btn-block" ng-click="insert()"><h2><span class="fa fa-plus"></span>&nbsp;新增</h2></button>
	<div style="margin:20px;"></div>
	<div class="jumbotron" ng-show="newItem.editing">
		<input style="font-size:20pt;height:50px;margin-bottom:5px;"  type="text" class="form-control" value="{{newItem.message}}" ng-model="newItem.message" placeholder="請輸入跑馬燈訊息..."><button class="btn btn-warning btn-lg" ng-click="insertOk(newItem)"><span class="fa fa-save"></span>&nbsp;確定</button>&nbsp;<button class="btn btn-default btn-lg" ng-click="cancel(newItem)">取消</button>
	</div>

	<table class="table" style="font-size:18pt;">
		<tr>
			<th class="text-center">序號</th>
			<th class="text-center">訊息</th>
			<th class="text-center">操作</th>
		</tr>
		<tr ng-repeat="item in items">
			<td>
				<span class="badge badge alert-success"><h4>{{$index+1}}</h4></span>
			</td>
			<td>
				<div ng-hide="item.editing">
					{{item.message}}
				</div>
				<div ng-show="item.editing" >
					<textarea style="font-size:20pt;margin-bottom:5px;" class="form-control" value="{{item.message}}" ng-model="item.message"></textarea><button class="btn btn-warning btn-lg" ng-click="editOk(item)"><span class="fa fa-save"></span>&nbsp;儲存</button>&nbsp;<button class="btn btn-default btn-lg" ng-click="cancel(item)">取消</button>
				</div>  
			</td>
			<td>
                <div class="pull-right" ng-hide="item.editing">
                    <a href="" ng-click="edit(item)"><span class="fa fa-pencil fa-lg fa-fw alert-success"></span></a>
                    <a href="" ng-click="delete(item)"><span class="fa fa-times fa-lg fa-fw alert-danger"></span></a>
                </div>
            </td>
		</tr>

	</table>
</div>


<script>
// Read the specified text file and display it in the <pre> element below
function readfile(f) {
	console.log ('readfile');
    var reader = new FileReader();  // Create a FileReader object
    reader.readAsText(f);           // Read the file
    reader.onload = function() {    // Define an event handler
        var text = reader.result;   // This is the file contents
        var out = document.getElementById("output");    // Find output element
        out.innerHTML = "";                             // Clear it
        out.appendChild(document.createTextNode(text)); // Display file contents
    }
    reader.onerror = function(e) {  // If anything goes wrong
        console.log("Error", e);    // Just log it
    };
}
</script>
